:root {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;

  font-family: 'Manrope';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: hsl(var(--foreground));
  stroke: hsl(var(--foreground));
  background-color: hsl(var(--background));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 2px solid hsl(var(--ring));
}

a {
  color: inherit;
  text-underline-offset: 3px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
}

@media (width <= 680px) {
  h1 {
    font-size: 1.1em;
  }
}

select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  border: 1px solid hsl(var(--border));
  background: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-up-down"><path d="m7 15 5 5 5-5"/><path d="m7 9 5-5 5 5"/></svg>');
  background-repeat: no-repeat;
  background-position-x: 92%;
  background-position-y: 9px;
  background-color: transparent;
  min-width: 180px;
  height: 36px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  padding: 0 14px;
  border-radius: 6px;
  cursor: pointer;
}

[data-lucide] {
  cursor: pointer;
}

#app {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  width: 90vw;
}

.read-the-docs {
  color: hsl(var(--muted-foreground));
}

button {
  border-radius: 6px;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  gap: 8px;
  padding: 0 12px;
  height: 34px;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  background-color: hsl(var(--foreground));
  color: hsl(var(--background));
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background: hsl(var(--muted-foreground));
}

#player-container {
  aspect-ratio: 16/9;
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  border-radius: 6px;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#progress {
  backdrop-filter: blur(40px) brightness(60%);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress>h1 {
  font-size: 4rem;
  font-weight: 600;
}

#title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#controls {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 24px;
  margin-bottom: 20px;
}

#playback {
  display: flex;
  align-items: center;
  gap: 15px;
}

#time {
  font-weight: 600;
}

.loader {
  width: 14px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  --_m:
    conic-gradient(#0000 10%, #000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}


@keyframes l3 {
  to {
    transform: rotate(1turn)
  }
}

#browser-not-supported {
  color: red;
  text-align: center;
  margin-top: 1rem;
  font-size: medium;
  display: none;
}
