:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

select {
  border: 1px solid rgba(255, 255, 255, 0.181);
  background-color: transparent;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

[data-lucide] {
  cursor: pointer;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid transparent;
  padding: 0 1em;
  height: 40px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#player-container {
  aspect-ratio: 16/9;
  display: flex;
  width: 97vw;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  border-radius: 6px;
  align-items: center;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

#title-container {
  width: 97vw;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#controls {
  display: flex;
  width: 99vw;
  max-width: 900px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-top: 24px;
  margin-bottom: 20px;
}

#playback {
  display: flex;
  align-items: center;
  gap: 15px;
}

#time {
  font-weight: 600;
}

.loader {
  width: 14px;
  padding: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #ffffff;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}